/build/
/build-release/
/build-static/
/out/
/.vs/
/.vscode/
CMakeSettings.json
.DS_Store
wine/dlls/vbscript/parser.tab.c
wine/dlls/vbscript/parser.tab.h
/tools/idl-parser/.gradle/
/tools/idl-parser/build/
